/* ------------------------------------ */
/*				GENERAL				    */
/* ------------------------------------ */


html, body, p {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family:  'Montserrat', sans-serif;
}

/*.title, .title_1, .title_2, .name, .menu{
    font-family: 'Montserrat', sans-serif;
}*/

/*.text, .text_1, .text_2 {
    font-family: 'Open Sans', sans-serif;
}*/

ul {
  padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

p {
    padding: 0;
}

a.anchor {
  display: block;
  position: relative;
  top: -150px;
  visibility: hidden;
}


/* ------------------------------------ */
/*			          	HEADER  		  	   	*/
/* ------------------------------------ */

	#header{
      background: white;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 1;
      height: 75px;
      box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    }
    .header_content {
      margin: 0 auto;
      width: 75%;
    }

    .name {
        width: 30%;
        float: left;
    }

    h1 {
        text-align: left;
        font-size: 30px;
    }

    .menu {
        width: 70%;
        float: right;
    }

    ul.nav {
        float:right;
        padding: 10px 0;
    }

    .nav a {
        font-size: 20px;
    }

    .menu li {
        display: inline-block;
        padding-left: 50px;
    }

    .menu a:hover {
        color: #44E8E8;
    }

/* menu responsive */

    .icon {
        display: none;
        float: right;
        font-size: 35px;
    }

    .menu_mobile {
      display: none;
      width: 70%;
      float: right;
    }

    .menu_mobile ul.nav {
        display: none;
        width: 65%;
        top: 34px;
        position: absolute;
        height: 10000%;
        background-color: #44E8E8;
    }

    .menu_mobile li {
        display: block;
        padding: 30px;
    }


@media only screen and (max-width:800px){

    #header {
        height: 50px;
    }
           
    a.anchor {
       top: -100px;
    }
    
    .icon {
      display: inline;
    }

    .menu_mobile {
      display: inline;
    }

    .menu {
      display: none;
    }

}


/* ------------------------------------ */
/*		          	WORK		        */
/* ------------------------------------ */


#works {
  width: 75%;
  margin: 150px auto;
  text-align: center;
  /* border: 1px solid rgba(0, 0, 0, 0.1);*/
}

h2 {
  font-size: 40px;
  text-align:left;
  border-bottom: 6px solid #44E8E8;
}

.selection {
    padding: 40px;
    text-align: center;
}

/* imágenes */

.contenedor li {
    display: inline-block;
    width: 400px;
    margin: 19px;
}

.contenedor figure {
	margin: 0;
	position: relative;
}

.contenedor figure img {
  transition: all 0.2s linear;
	max-width: 100%;
	display: block;
	position: relative;
}

.contenedor .figcaption {
  display: none; /* PARA QUE APAREZCA OCULTO */
  color: white;
  width: 100%;
  margin: auto 0;
  padding: 50px 0px;
  height: 65%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
}

.contenedor .figcaption span{
  font-weight: normal;
}

.contenedor figure:hover .figcaption {
  display: block;
}

.btn_hover:hover {
	background: #44E8E8;
    -webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
}

/* BOTÓN WORK */

.buttom a{
    font-size: 20px;
}

.underline {
  padding: 40px 20px 0 20px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}

.underline:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 10px;
  background: #44E8E8;
  height: 3px;
  transition-property: left, right;
  transition-duration: 0.3s;
}

.underline:hover:before, .underline:focus:before, .underline:active:before {
  left: 0;
  right: 0;
}


/*  Opcion para ser responsive */


@media screen and (max-width: 800px) {
    .selection {
        padding: 20px;
        text-align: center;
    }

}

@media screen and (max-width: 1900px) {

    .contenedor li {
       width: 300px;
    }
}

@media screen and (max-width:1000px,1500px,1700px) {

    .contenedor li {
      width: 250px;
    }
    .contenedor .figcaption {
        padding: 32px 0px;
        height: 65%;
    }
}

@media screen and (max-width: 800px) {

    .contenedor li {
        width: 250px;
    }
    
    .contenedor .figcaption {
        padding: 32px 0px;
        height: 50%;
    }
}

@media screen and (max-width: 700px) {

    #works {
        width: 75%;
        margin: 100px auto;
        text-align: center;
    /* border: 1px solid rgba(0, 0, 0, 0.1); */
    }

    ul.contenedor {
        width: 100%;
    }

    .contenedor li {
        width: 90%;
        margin: 10px;
    }
    
    .contenedor li.mobile {
       display: none;
    }
    
    .buttom {
        padding: 10px;
        border: 2px solid #44E8E8;
        border-radius: 2px;
        cursor: pointer;
    }

    .underline {
        padding: 0;
    }
    
    .underline:before {
        position: inherit;
    }

}

/* ------------------------------------ */
/*		        	ABOUT ME       			   */
/* ----------------------------------- */


#about {
    width: 75%;
    margin: 200px auto;
   /*border: 1px solid rgba(0, 0, 0, 0.1);*/
}

#about:after { /* sirve para que los floats entren dentro del contenedor */
  content: "";
  display: table;
  clear: both;
}

.me {
    width: 100%;
    margin-bottom: 150px;

}

.photo img {
    width: 100%;
    margin-top: 100px;
}

.photo {
    width: 45%;
    float: left;
    display: inline-block;
    padding-right: 45px;
}

.text {
    width: 45%;
    float: right;
    margin: 0 auto;
}

.text_3 {
    text-align: justify;
    margin-top: 100px;
}

/*  Opcion para ser responsive */



@media screen and (max-width: 700px) {

    .me {
        margin-bottom: 50px;
    }
    
	.photo,
    .text {
		width: 100%;
        float: none;
	}
    
    .photo img {
    margin-top: 20px;
    }
    
     .text_3 {
      margin: 30px 0 30px 0;
    }

}

@media screen and (max-width: 900px) {

    #about {
    width: 75%;
    margin: 50px auto;
    /* border: 1px solid rgba(0, 0, 0, 0.1); */
    }

    h1, h4, p {
        font-size: 14px;
    }
    h2 {
        font-size: 30px;
    }
}


/* ------------------------------------ */
/*			      	CONTACT      	      		*/
/* ------------------------------------ */

#contact {
  width: 75%;
  margin: 200px auto;
  /* border: 1px solid rgba(0, 0, 0, 0.1);*/
}

#contact p {
    text-align: center;
    line-height: 2;
    margin-bottom: 100px;
}

.information h4 {
    padding-top: 100px;
    font-size: 30px;
    text-align: center;
}

@media screen and (max-width: 900px) {

    #contact {
        width: 75%;
        margin: 50px auto;
        /* border: 1px solid rgba(0, 0, 0, 0.1); */
    }

    .information h4 {
    padding-top: 50px;
    }
}

/* ------------------------------------ */
/*			        	FOOTER      	    		*/
/* ------------------------------------ */

    #footer {
        width: 100%;
        height: 60px;
        display: inline-block;
        text-align: center;
        /* overflow: hidden; */
        margin: 0 auto;
    }

    .copy {
        width: 50%;
        float: left;
        margin-left: 100px;
        text-align: left;
    }

    .redes {
        float: right;
        margin-right: 100px;
    }

    ul.social {
        margin: 0;
    }

    .social li {
        color: black;
        padding-left: 30px;
        display: inline-block;
        overflow: hidden;
    }

    .social li:hover {
        color: #44E8E8;
    }

    .social img {
        width: 50%;
    }

@media screen and (max-width: 900px) {
    h2 {
        font-size: 30px;
    }
}


@media screen and (max-width: 700px) {

    #footer{
     height: 50px;
    }

    .redes {
     margin-right: 10px;
    }

    .social li {
        padding-left: 18px;
    }

    .fa-2x {
     font-size: 1.5em;
    }

    .copy p {
      font-size: 10px;
    }

    .copy {
      width: 40%;
      margin-left: 5%;
    }
}


/* ------------------------------------ */
/*			        	PORTFOLIO      	  		*/
/* ------------------------------------ */


#portfolio {
  width: 75%;
  overflow: hidden; /* para que todo lo que contenga todo lo que est´ña dentro de esta caja */
  margin: 125px auto;
  /* border: 1px solid rgba(0, 0, 0, 0.1);*/
}

.description {
  width: 100%;
  display: inline-block;
}

.text_2 {
    width: 35%;
    float: left;
    text-align: justify;
    padding-top: 10px;
}

.row {
    width: 60%;
    float: right;
}

.row li {
    display: inline;
}

.row img {
    width: 100%;
    margin-bottom: 30px;
}


/*  Opcion para ser responsive */

@media screen and (max-width: 700px) {
	.row,
    .text_2 {
		width: 100%;
        float: none;
	}
}
